{%load static%}
<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
	<title>{%block title%}AiresTekila{%endblock%}</title>
	<link rel="stylesheet" type="text/css" href="{%static '/bootstrap-3.3.7-dist/css/bootstrap.min.css'%}" />
	<link rel="stylesheet" type="text/css" href="{%static '/css/main_style.css'%}" />
</head>
<body>
{% if user.is_authenticated %}
<h1>Hola ! {{ user.username }} !</h1>
	{%if user.is_superuser%}
	<h3><a href="/ver-clientes/">Ver Clientes</a></h3>
	<h3><a href="/registrar-usuarios/">Registrar Cliente</a></h3>
	{%else%}
	<h3><a href="#">Ver mis Vuelos</a></h3>
	{%endif%}
<h3><a href="/logout/">Logout</a></h3>
{% else %}
<h3><a href="/login/">Login</a></h3>
{% endif %}
<div class="container-fluid super-master">
	{%block content%}
	{%endblock%}
</div>	
</body>
</html>