{%extends "base.html"%}
{%block title%}AiresTekila - login{%endblock%}
{%load static%}
{%block content%}
	<div class="container form-main animated bounceIn">
		<img src="{%static '/img/tekila-logo.png'%}" alt="logo-tekila">
		<div class="col-xs-12 col-sm-6 col-md-4 col-lg-4">
			<form method="post">
      {% csrf_token %}
				<span class="lead">Login</span>
  				<div class="form-group">
    				<label for="username">Nombre de Usuario (alias)</label>
    				<input type="text" class="form-control" name="username" id="username" placeholder="Usuario" size="12" required>
  				</div>
  				<div class="form-group">
    				<label for="password">Contraseña</label>
    				<input type="password" class="form-control" name="password" id="password" placeholder="Contraseña" size="50" required>
  				</div>
  				<button type="submit" class="btn btn-primary">Entrar</button>
			</form>
		</div>
	</div>
{%endblock%}